@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #18191a;
}
.menu-btn {
  transition: 0.2s;
  @apply my-1 rounded-lg text-gray-500 flex items-center justify-center;
}
.menu-btn:hover {
  @apply bg-gray-700;
}
.action-btn {
  transition: 0.2s;
  @apply mr-2 bg-gray-700 flex items-center justify-center rounded-full text-white w-10 h-10;
}
.profile-img {
  @apply w-32 h-32 rounded-full object-cover -mb-4 border-2 border-white;
}
.edit-cover-photo {
  background-color: #00000030;
  @apply rounded text-white absolute bottom-0 right-0 mr-4 mb-4 px-5 py-2;
}
.edit-profile-photo {
  background-color: #ffffff30;
  @apply rounded-full text-white absolute bottom-0 right-0 -mr-5 w-10 h-10 flex items-center justify-center;
}
.edit-cover-photo:hover,
.edit-profile-photo:hover {
  background-color: #00000070;
}
.menu-dark {
  background-color: #242526;
}
.bg-input {
  background-color: #263137;
}
.card {
  background-color: #242526;
  @apply p-3 rounded;
}
.btn-primary {
  @apply px-3 py-2 inline-block rounded-md text-white;
}
.btn-primary:hover {
  background-color: #263137;
}
